$nameText:'Noto Serif', serif;
$primaryText:'Georgia', Times, 'Times New Roman', serif;
$smallText:'Arial', 'Helvetica Neue', Helvetica, sans-serif;
$headFontSize: 2.1em;
$borderColor: #cccccc;
$lrgTxtClr: #366328;

@mixin normal-border {
	border: 2px solid $borderColor;
}

@mixin nav-border {
	border-bottom: 2px solid $borderColor;
	border-radius: 0;
}

@mixin foot-border{
	border-top: 2px solid $borderColor;
}

body {
	background-image: url(../../public/assets/aurora.jpg);
	 padding-bottom: 6rem;
}

.navbar{
	@include nav-border;
	background-color: black;
	width: 100%;
	opacity: .7;
}

.navbar-header{
	height: 100px;
	opacity: .8;
}

.myName{
	color: white;
	font-size: $headFontSize;
	font-family: $nameText;
	font-weight: bold;
	padding-left: 15%;
	padding-right: 15%;
	margin-top: 8%;
} 

.nav-button{
	font-size:2rem;
	margin-top: 20px;
}

.about {
	@include normal-border;
	background: black;
	margin-top: 2%;
	margin-bottom: 50px;
	box-shadow: 35px 35px 25px black;
	opacity: 0.8;

}

.aboutme{
	color: $lrgTxtClr;
	font-family: $primaryText;
	font-size: $headFontSize; 
	font-weight: bold;
	margin-top: 4%;
	margin-bottom: 3%;
	opacity: .6;
}

.photo{
	height: 35%;
	width: 35%;
	float: left;
	padding:0 3% 1% 0; 
}

.bio-text{
	color: #777777;		
	font-size: 1.1em;
	line-height: 23px;
	font-family: $smallText;
	padding-bottom: 10px;
}

.upper, .lower {
	background-color: black;
	@include normal-border;
	margin-top: 10%;
	margin-bottom: 50px;
	box-shadow: 35px 35px 25px black;
	opacity: 0.8;
}

.connect{
	color: $lrgTxtClr;
	text-align: center;
	font-family: $primaryText; 
	font-weight: bold;
	opacity: .7;
}

.link, .git, .stack {
  height: 30%;
  width: 30%;
  margin-bottom: 5%;
  margin-left: 1%;
  transition: transform .5s; 
}

.link:hover, .git:hover, .stack:hover {
  transform: scale(1.2);
}

.footer {
	@include foot-border;
	background-color: black;
	width: 100%;
	height: 80px;
	opacity: .6;
}

.footerText {
	margin-top: 30px;
	text-align:center;
	color: white;
}

#myCarousel {
	width: 100%;
	height: 100%;
}

.carousel-txt{
	color: $lrgTxtClr;
	font-family: $nameText;
	opacity: 0.7;
}

