<!DOCTYPE html>
<html>
<head>

<meta charset="utf-8">

<meta name="viewport" content="width=device-width, initial-scale=1">

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

<link href="https://fonts.googleapis.com/css?family=Noto+Serif" rel="stylesheet">

<!-- <link rel="stylesheet" type="text/css" href="../public/restyle.css"> -->
<link rel="stylesheet" type="text/css" href="../public/css/style3.css">

	<title>Index</title>
</head>
<body>
<nav class='navbar navbar-default navbar-static-top'>
  <div class="container">
    <div class="navbar-header">
      	<h1 class="myName">Ethan Susman</h1>
    </div>  
    
		<ul class="nav navbar-nav navbar-right"> 
          	<li><a href="/" class="nav-button">About</a>
          	</li>
         	<li><a href="/contact" class="nav-button">Contact</a>
          	</li>
          	<li><a href="/portfolio" class="nav-button">Portfolio</a>
           	</li>
       	</ul> 
	
    </div>
  </nav>

<div class="container-fluid">
	<div class="row">

		<div class= "col-xs-10 col-xs-offset-1 col-sm-5 col-sm-offset-1 col-lg-4 col-lg-offset-2 about">
			<h1 class="aboutme">
			About Me
			</h1>
			<hr />
			<img class="photo" src="../public/assets/mepicture.jpg">
			<p class='bio-text'>
			
			My name is Ethan Susman and Ive been tinkering and fiddling with all things mechanical or technological for most of my life. I'm passionate about many things. Music, engine building, coding, pc construction, hiking, photography being few of those things. I endevour to do atleast a few of these things on a daily basis, but the day is only so long. 

			<br>
			<br>

			Ive been employed as a sheet music clerk, a ground's person at a cemetery, professional drummer, automotive technician, and now I work for myself as a freelance mechanic. It is my aim to attain a position as a front end web developer or full stack web developer, depending on my future employer's needs.

			<br>
			<br>  

			This web page was coded entirely from scratch by yours truly utilizing Node JS, Express, and Bootstrap. I also posses the skills to utilize MySQL and Mongo databases, alternatives to Bootstrap such as Materialize, various javascript libraries (mostly jQuery), Handlebars, and have some experience with React. Angular is on my shortlist of technologies to break into. I also completed the Rutgers Full Stack Web Development Bootcamp in November of 2017.
			</P>
		</p>
	</div>	
		<div class= "col-xs-10 col-xs-offset-1 col-sm-3 col-sm-offset-1 col-md-3 col-md-offset-2 col-lg-2 col-lg-offset-1 lnkbtns">
			<h3 class="connect">
			Connect with Me
			</h3>
			<hr />
			<a href="https://github.com/Splimis">
				<img class="git" src="http://i.imgur.com/7VG4zMU.png" alt="github" >
			</a>
			<a href="https://www.linkedin.com/in/ethan-susman-742a02145/">
				<img class="link" src="http://i.imgur.com/jN4nKMe.png" alt="linkedin">
			</a>
			<a href="https://soundcloud.com/user-499672489">
				<img class="stack" src="http://www.fouroverfour.jukely.com/wp-content/uploads/2017/07/sclogo-860x860.png" alt="stackoverflow">
			</a>
		</div>
	<div class= "footer navbar-fixed-bottom">
		<p class='footerText'>
		&copy; 2017 Ethan Susman
		</p>
	</div>
	</div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="../public/assets/js/core/bootstrap.min.js?body=1"></script>
<script src="../public/assets/js/core/popper.min.js"></script>
</body>
</html>