body {
	background-image: url(../public/assets/aurora.jpg);
	 padding-bottom: 6rem;
}


.navbar{
	background-color: black;
	border: solid;
	border-bottom-width: 3px;
	border-left: 0;
	border-right: 0;
	border-top: 0;
	border-color: #cccccc;
	width: 100%;
	opacity: .7;
	border-radius: 0px;
}

.navbar-header{
	height: 130px;
	background-color: #366328;
	border-radius: 20px;
	opacity: .6;
	
}

.myName{
	color: white;
	font-size: 2.5em;
	font-family: 'Noto Serif', serif;
	font-weight: bold;
	padding-left: 15%;
	padding-right: 15%;
	margin-top: 5%;
} 

.navigation{
	float:right;
	top: 35px;
}

.menu li {
	display: inline;
	position: relative;
}

#page-center {
	padding-left: 0px;
}

/*.lft-btn{
	color: #777777;
	font-size: 1.5em;
	border-width: 1px;
	border: solid;
	border-top: 0;
    border-bottom: 0;
  	border-left: 0;
 	border-color: lightgray;
}

.mdl-btn{
	color: #777777;
	font-size: 1.5em;
	border-width: 1px;
	border: solid;
  	border-top: 0;
  	border-bottom: 0;
  	border-left: 0;
  	margin-left: 4px;
  	border-color: lightgray;
}

.rgt-btn{
	color: #777777;
	font-size: 1.5em;
	margin-left: 4px;
}*/

.about {
	background: black;
	margin-top: 1%;
	border: solid;
	border-width: 2px;
	border-color: #cccccc;
	margin-bottom: 50px;
}

.aboutme{
	color: #366328;
	font-family: 'Georgia', 
	Times, Times New Roman, serif;
	font-weight: bold;
	margin-top: 4%;
	margin-bottom: 3%;
	opacity: .6;
}

.port{
	height: 35%;
	width: 35%;
	float: left;
	padding-top:0;
	padding-bottom:1%;
	padding-left:0;
	padding-right:4%; 
}

.bio-text{
	color: #777777;		
	font-size: 1.1em;
	line-height: 100%;
	font-family: 'Arial', 
	'Helvetica Neue', Helvetica, sans-serif;
	padding-bottom: 10px;
}

.lnkbtns{
	/*width: 12%;*/  
	background-color: black;
	border-width: 2px;
	border: solid;
	border-color: #cccccc;
	margin-top: 1%;
	margin-bottom: 50px;
	/*margin-left: 5%;*/
}

#connect{
	color: #366328;
	text-align: center;
	font-family: 'Georgia', 
	Times, Times New Roman, serif; 
	font-weight: bold;
	opacity: .7;
}

#link, #git{
	height: 30%;
	width: 30%;
	margin-bottom: 5%;
}

#link{
	height: 30%;
	width: 30%;
	margin-bottom: 5%;
}

#stack{
	height: 30%;
	width: 30%;
	margin-bottom: 5%;
}

.footer {
	background-color: black;
	right: 0;
	left: 0;
	bottom: 0;
	
	width: 100%;
	height: 80px;
	border-top: solid;
	opacity: .6;


}

.footer .footerText {
	margin-top: 2%;
	margin-right: 0px;
	margin-left: 0px;
	margin-bottom: 0px;
	text-align:center;
	color: white;

}

#name {
	color: #777777;
}

#email {
	color: #777777;
}

#field {
	color: #777777;
}

#contact-submit {
	margin-bottom: 1%;
	border-width: 0px;
	background-color: #366328;
	opacity: .6;

}

.resize{
	position: relative;
	float: left;
	height: 55%;
	width: 75%;	
	margin: 5%;
	margin-left: 12%;
}

#myCarousel {
	width: 100%;
	height: 100%;
}

.spinny{
	color: #366328;
	font-family: 'Noto Serif', serif;
	opacity: 0.7;
}