body {
	background-image: url(../Assets/milky.jpg);
}

.navbar{
	background-image: url();
	border: solid;
	border-bottom-width: 5px;
	border-left: 0;
	border-right: 0;
	border-top: 0;
	border-color: #cccccc;
	width: 100%;
}

.navbar-header{
	height: 20%;
	background-color: #4aaaa5;\
	position: absolute;
}

#myName{
	color: white;
	font-size: 3em;
	font-family: 'Georgia', 
	Times, Times New Roman, serif;
	font-weight: bold;
	padding-left: 15%;
	padding-right: 15%;
	margin-top: 5%;
} 

.navigation{
	float:right;
	top: 35px;
}

.menu li {
	display: inline;
	position: relative;
}

#page-center {
	padding-left: 0px;
}

#lft-btn{
	color: #777777;
	font-size: 1.5em;
	border-width: 1px;
	border: solid;
	border-top: 0;
    border-bottom: 0;
  	border-left: 0;
 	border-color: lightgray;
}

#mdl-btn{
	color: #777777;
	font-size: 1.5em;
	border-width: 1px;
	border: solid;
  	border-top: 0;
  	border-bottom: 0;
  	border-left: 0;
  	margin-left: 4px;
  	border-color: lightgray;
}

#rgt-btn{
	color: #777777;
	font-size: 1.5em;
	margin-left: 4px;
}

#about {
	background: black;
	margin-top: 1%;
	border: solid;
	border-width: 2px;
	border-color: #cccccc;
}

#aboutme{
	color: #4aaaa5;
	font-family: 'Georgia', 
	Times, Times New Roman, serif;
	font-weight: bold;
	margin-top: 4%;
	margin-bottom: 3%;
}

#port{
	height: 35%;
	width: 35%;
	float: left;
	padding-top:0;
	padding-bottom:0;
	padding-left:0;
	padding-right:4%; 
}

#text{
	color: #777777;		
	font-size: 1.1em;
	line-height: 100%;
	font-family: 'Arial', 
	'Helvetica Neue', Helvetica, sans-serif;
}

#lnkbtns{
	width: 12%;  
	background-color: white;
	border-width: 2px;
	border: solid;
	border-color: #cccccc;
	margin-top: 1%;
	margin-left: 5%;
}

#connect{
	color: #4aaaa5;
	text-align: center;
	font-family: 'Georgia', 
	Times, Times New Roman, serif; 
	font-weight: bold;
}

#git{
	height: 30%;
	width: 30%;
	margin-bottom: 5%;
}

#link{
	height: 30%;
	width: 30%;
	margin-bottom: 5%;
}

#stack{
	height: 30%;
	width: 30%;
	margin-bottom: 5%;
}

.footer {
	background-color: black;
	bottom: 0;
	position: absolute;
	width: 100%;
	height: 10%;
	border-top: solid;

}

#footerText {
	margin-top: 2%;
	margin-right: 0px;
	margin-left: 0px;
	margin-bottom: 0px;
	text-align:center;
	color: white;

}

#name {
	color: #777777;
}

#email {
	color: #777777;
}

#field {
	color: #777777;
}

#contact-submit {
	margin-bottom: 1%;
	background-color: #4aaaa5;
}

.resize{
	position: relative;
	float: left;
	height: 55%;
	width: 75%;	
	margin: 5%;
	margin-left: 12%;
}

